:host{
  height: 90px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: block;
  width: 90px;
  height: 90px;
}

.catalog-btn{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-btn_item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: #e52e6b;
  margin: 8px 6px 8px 8px;
  border-radius: 50%;
  overflow: hidden;
}

.nav-btn_iten span {
  font-size: 14px;
  line-height: 20px;
}




.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown li:hover > ul.dropdown-menu {
    display: block;
}
