<div class="container-xl d-flex flex-column flex-wrap m-x-auto p-3">
  <h1 class="text-center">{{name}}</h1>

  <div id="carouselExampleControls" class="carousel slide detail-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let slide of imageUrls; let isFirst = first"  [class.active]="isFirst" class="carousel-item">
        <img [src]="slide" class="d-block w-100 detail-img" alt="goods">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="d-grid gap-2 d-md-block m-5">
    <button class="btn btn-outline-primary" type="button">в избранное</button>
    <button class="btn btn-outline-primary" type="button">в корзину</button>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <span>Описание</span>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <p class="card-text">{{description}}</p>
    </div>
  </div>
</div>
