<nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto">
  <ul class="navbar-nav">
    <li class="nav-item contact-item">
      <span class="a1">+375 29 277 36 46</span>
    </li>
    <li class="nav-item contact-item">
      <span class="life">+375 25 277 36 46</span>
    </li>
    <li class="nav-item contact-item">
      <span class="phone">+375 17 277 36 46</span>
    </li>
    <li class="nav-item contact-item">
      <a class="nav-link p-0" aria-current="page" href="https://www.viber.com/ru/" target="_blank">
        <span class="viber">Viber</span>
      </a>
    </li>
    <li class="nav-item contact-item">
      <a class="nav-link p-0" aria-current="page" href="https://telegram.org/" target="_blank">
        <span class="telegram">Telegram</span>
      </a>
    </li>
    <li class="nav-item contact-item">
      <a class="nav-link p-0" aria-current="page" href="https://mail.google.com/" target="_blank">
        <span class="mail">Почта</span>
      </a>
    </li>
    <li class="nav-item contact-item">
      <a class="nav-link p-0" aria-current="page" href="https://mail.google.com/" target="_blank">
        <span class="message">Написать нам</span>
      </a>
    </li>
  </ul>
</nav>
