<div class="container-xl d-flex flex-row flex-wrap m-x-auto p-3">
  <ul *ngIf="renderCategories; else subcategories" class="list-group">
    <li *ngFor="let list of pushDataForCategories!.subCategories"
    [routerLink]="['/category', list.id]"
    class="list-group-item list-group-item-primary category-item">{{list.name}}</li>
  </ul>


  <ng-template #subcategories>
    <div class="btn-group m-4" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary" (click)="sortByRait()">сортировать по рейтингу</button>
      <button type="button" class="btn btn-outline-primary" (click)="sortByPrice()">сортировать по цене</button>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
      <app-goods-card *ngFor="let item of (pushDataForSubcategories | async)!.goods" class="col"
      [name] = "item.name"
      [imageUrls] = "item.imageUrls"
      [vailableAmount] = "item.vailableAmount"
      [price] = "item.price"
      [rating] = "item.rating"
      [description] = "item.description"
      [id] = "item.id"
      [isInCart] = "item.isInCart"
      [isFavorite] = "item.isFavorite"
      >
      </app-goods-card>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary getmore-btn" type="button" (click)="getMoreGoods()">показать больше</button>
    </div>
  </ng-template>
</div>

