<div class="card goods-card">
  <img [src]="imageUrls[1]" class="card-img-top goods-img" alt="goods">
  <div class="card-body goods-description-container">
    <span class="card-title fw-bold goods-name">{{name}}</span>
    <span  *ngIf="(vailableAmount); else notavailible" class="fw-lighter">в наличии</span>
    <span class="badge bg-primary text-wrap price-item">{{price}} рублей</span>
    <div class="rait-container" >
      <div class="star-img" *ngFor="let stars of [].constructor(rating)"></div>
    </div>
    <button type="button" class="btn btn-primary">В корзину</button>
  </div>
</div>


<ng-template #notavailible class="fw-lighter text-decoration-line-through">в наличии</ng-template>
