<a class="nav-link p-0" aria-current="page" href="https://www.vk.com" target="_blank">
  <div class="social-item">
    <img src="../../../../../assets/icons/vk.svg" alt="vk">
  </div>
</a>
<a class="nav-link p-0" aria-current="page" href="https://www.facebook.com" target="_blank">
  <div class="social-item">
    <img src="../../../../../assets/icons/facebook.svg" alt="facebook">
  </div>
</a>
<a class="nav-link p-0" aria-current="page" href="https://www.instagram.com" target="_blank">
  <div class="social-item">
    <img src="../../../../../assets/icons/instagram.svg" alt="instagram">
  </div>
</a>
<a class="nav-link p-0" aria-current="page" href="https://www.youtube.com" target="_blank">
  <div class="social-item">
    <img src="../../../../../assets/icons/youtube.svg" alt="youtube">
  </div>
</a>
<a class="nav-link p-0" aria-current="page" href="https://www.odnoklassniki.ru" target="_blank">
  <div class="social-item">
    <img src="../../../../../assets/icons/odnoklassniki.svg" alt="odnoklassniki">
  </div>
</a>
