<div class="container-xl m-x-auto p-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Товар</th>
        <th scope="col">Количество</th>
        <th scope="col">Стомость</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartDataArr; index as i">
        <th  scope="row">{{i+1}}</th>
        <td>
          <app-cart-item  class="col"
          [name] = "item.name"
          [imageUrls] = "item.imageUrls"
          [availableAmount] = "item.availableAmount"
          [price] = "item.price"
          [rating] = "item.rating"
          [description] = "item.description"
          [id] = "item.id"
          [isInCart] = "item.isInCart"
          [isFavorite] = "item.isFavorite">
          </app-cart-item>
        </td>
        <td class="td-number"><app-number-picker [maxNumber]="item.availableAmount" (orderValue)="calculateOrder($event, item.id, i)" (orderValue)="calculateItem($event, item.price, i)" ></app-number-picker></td>
        <td>{{orderCostArr[i]}}</td>
      </tr>
    </tbody>
  </table>
  <div class="badge bg-primary text-wrap m-5" style="font-size: 20px;">
   Общая сумма заказа: {{getOrderCost()}} рублей
  </div>
  <form [formGroup]="detailsForm" class="input-group order-form">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">ФИО</span>
      <input type="text" class="form-control" placeholder="Фамилия Имя Отчество" aria-describedby="basic-addon1" [(ngModel)]="details.name" formControlName="name">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">Адрес</span>
      <input type="text" class="form-control" placeholder="Адрес доставки" aria-describedby="basic-addon2" [(ngModel)]="details.address" formControlName="address">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">Телефон</span>
      <input type="text" class="form-control" placeholder="Номер телефона" aria-describedby="basic-addon3" [(ngModel)]="details.phone" formControlName="phone">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon4">Дата</span>
      <input type="text" class="form-control" placeholder="Желаемое время доставки" aria-describedby="basic-addon4" [(ngModel)]="details.timeToDeliver" formControlName="timeToDeliver">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon5">Утвердить заказ</span>
      <input type="text" class="form-control" placeholder="Желаемое время доставки" aria-describedby="basic-addon5" [(ngModel)]="details.comment" formControlName="comment">
    </div>
  </form>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" (click)="postOrder()">Утвердить заказ</button>
  </div>
</div>


