body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #1A1A1A;
}

.nav-btn {
  border: 1px solid #d5d7db;
  display: flex;
  align-items: center;
  height: 42px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 40px;
  margin-right: 8px;
  background: #f7f8fa;
  transition: .2s ease;
}

.pressed  {
  border-color: transparent;
  color: #909399;
  border: 1px solid #d5d7db;
  display: flex;
  align-items: center;
  height: 42px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 40px;
  margin-right: 8px;
  background: #dfdfe0;
  transition: .2s ease;
}
